# Helper for installing the custom versions of django-oidc and drf-oidc-auth
# setup.py contains all of the dependencies, but PEP 508 causes issues with installing from git

git+http://github.com/jhuapl-boss/django-oidc.git#egg=django-oidc
git+http://github.com/jhuapl-boss/drf-oidc-auth.git#egg=drf-oidc-auth
